nav{background-color:red ;
    colour: yellow;
    background-color: purple;
    coluur:orange ;
}

nav{background-color: pink;
    colour: blue;
    background-color:palegreen ;
    color: burlywood;
}

nav{background-color: azure;
    colour: aquamarine;
    background-color: chocolate;
    colour:blueviolet ;
}