nav{
    background-color: azure;  
    padding: 4px;
    border-top: 5px solid plum; 
    border-bottom: 5px solid plum; 
    align-items: center;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 90px;
}
nav li{
    margin: 0;
}

nav a{
    display: block;
    color: blueviolet;
    background-color: antiquewhite;
    padding: 5px;
    align-items:center;
    display: flex;
    flex-direction: row;
    text-align: center;
}

nav a:hover{


}